body {
  margin: 0;
  padding: 0;
  font-family: roboto, verdana, sans-serif;
  font-size: 16px;
  background-color: #DDDDDD8F;
}

/* Header */
header {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo,
#second-logo {
  width: 120px;
  height: auto;
}

/* Search Container */
#search-container {
  position: relative;
  top: 0;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  z-index: 1;
}

#search-container h2 {
  font-size: 20px;
  color: #333;
  text-align: left;
  margin-bottom: -20px;
  margin-left: 25px;
}

#search-box {
  position: relative;
  width: 45%;
  margin-left: 25px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f8f8f8;
  resize: both;
  height: 100px;
}

#head-summary {
  background-color: #dbd9d9;
  font-family: 'Graphik',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 90px 3px 30px 50px;
  display: flex;
  flex-wrap: wrap;
}

/* Main */
#main {
  background-color: #dbd9d9;
  font-family: 'Graphik',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 40px 30px 30px 50px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 18px;

}

.abstract {
  color: #363636;
  text-align: left;
  padding: 10px;
  margin-bottom: -10px;
  width: 85%;
}

.abstract a {
    text-decoration: none;
    color: inherit;
    position: relative;
  }

.abstract a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #363636;
    opacity: .25;
    transition: opacity 0.3s;
  }

.abstract a:hover::after {
    opacity: 2;
  }

.column-container {
  color: #363636;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 0;
}

.drop-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Column */
.column {
  width: 85%;
}

.column img {
  align-content: center;
  display: block;
  padding: 25px;
  width: 95%;
  height: auto;
  margin-bottom: 30px;
}

.column img:hover {
  transform: scale(1.02);
  transition: transform 0.7s ease-in-out;
}

/* Accessibility */
.sr-only {
  position: absolute;
  top: -30em;
}

/* Table Sorting */
table.sortable td,
table.sortable th {
  padding: 2em 0.8em;
  width: 20em;
}

table.sortable th {
  font-weight: bold;
  border-bottom: thin solid #888;
  position: relative;
}

table.sortable th.no-sort {
  padding-top: 0.35em;
}

table.sortable th:nth-child(5) {
  width: 10em;
}

table.sortable th button {
  position: absolute;
  padding: 4px;
  margin: 1px;
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  border: none;
  display: inline;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

table.sortable th button span {
  position: absolute;
  right: 4px;
}

table.sortable th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}

table.sortable td.num {
  text-align: right;
}

table.sortable tbody tr:nth-child(odd) {
  background-color: #f7f9fa;
}

/* Focus and hover styling */
table.sortable th button:focus,
table.sortable th button:hover {
  padding: 2px;
  border: 2px solid currentcolor;
  background-color: #B4B4FF8F;
}

table.sortable th button:focus span,
table.sortable th button:hover span {
  right: 2px;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

/* Footer */
footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}