#logo,
#second-logo {
  width: 120px;
  height: auto;
}

:root {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  --transition-speed: 500ms;
  --text-primary: #b6b6b6;
  --text-secondary: #464a57;
  --bg-primary: #282a31;
  --bg-secondary: #5758ff;
  --bg-tertiary: #e9eaf0
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-secondary);
  background-color: var(--bg-tertiary);
}

body::-webkit-scrollbar{
  width: .25rem;
  height: .35rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: var(--bg-secondary);
}

main {
  margin-left: 16rem;
  padding: .5rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 15;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;
}
.nav-item:last-child{
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7) ;
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  /*background: var(--bg-secondary);*/
  color: var(--bg-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}
.navbar:hover .link-text{
  display: block;
}

.fa-primary {
  color: var(--bg-secondary);
}

.fa-secondary {
  color: #FFCCCC;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  /*text-transform: uppercase;*/
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-primary);
  /*background: var(--bg-tertiary);*/
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-360deg);
}

/* Header */
header {
  background-color: #FFFFFF;
  margin-left: 5rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/* Search Container */
#search-container {
  position: relative;
  top: 0;
  height: 100px;
  justify-content: center;
  align-items: center;
  /*margin: 1px 2px 100px 50px;*/
  margin-bottom: 100px;
  z-index: 1;
}

#search-container h2 {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 1px;
}

#search-box {
  position: relative;
  width: 60%;
  padding: 10px;
  border: 2px solid #DDDDDD8F;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: white;
  resize: both;
  height: 100px;
}

.summary {
  background-color: white;
  /*border: 3px solid #DDDDDD8F;*/
  /*border-radius: 10px;*/
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  -webkit-font-smoothing: antialiased;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.1rem;
  padding: 10px;
}

.abstract {
  text-align: left;
  /*padding: 10px;*/
  margin-bottom: -10px;
  width: 85%;
}

.abstract a {
    text-decoration: none;
    color: inherit;
    position: relative;
  }

.abstract a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #363636;
    opacity: .25;
    transition: opacity 0.3s;
  }

.abstract a:hover::after {
    opacity: 2;
  }

.column-container {
  text-align: left;
  margin-bottom: 12px;
  margin-top: 0;
}

/* Column */
.column {
  width: 95%;
}

.column img {
  align-content: center;
  display: block;
  padding: 25px;
  width: 95%;
  height: auto;
  margin-bottom: 30px;
}

.column img:hover {
  transform: scale(1.02);
  transition: transform 0.7s ease-in-out;
}

/* Accessibility */
.sr-only {
  position: absolute;
  top: -30em;
}

/* Wiki Tables */
table.wiki-table {
  width: 100%;
  /* You can also set a fixed width like: width: 800px; */
  /* Or set a percentage width like: width: 80%; */
  /* Adjust the value as per your requirement */
}

/* Allow text wrapping inside table cells */
table.wiki-table td,
table.wiki-table th {
  white-space: normal;
  word-wrap: break-word;
  /* You can also use 'word-break: break-all;' for more aggressive wrapping */
}

/* Add more styles to the table cells if needed */
table.wiki-table td,
table.wiki-table th {
  /* Add any other styles you want here */
}

/* Add border and spacing to the table */
table.wiki-table {
  border-collapse: collapse;
  /* You can also use 'separate' for separated borders */
  border: 1px solid #ccc;
}
table.wiki-table th,
table.wiki-table td {
  border: 1px solid #ccc;
  padding: 2px; /* Adjust the padding as needed */
}


/* Table Sorting */
/* Set a max-width for the table to fit the screen */
table.sortable {
  max-width: 100%;
  border-collapse: collapse;
}

/* Add horizontal scroll if the table content overflows */
table.sortable {
  overflow-x: auto;
}

table.sortable td,
table.sortable th {
  padding: 2em 1.8em;
  width: 20em;
}

table.sortable th {
  font-weight: bold;
  border-bottom: thin solid #888;
  position: relative;
}

table.sortable th.no-sort {
  padding-top: 0.35em;
}

table.sortable th:nth-child(5) {
  width: 10em;
}

table.sortable th button {
  position: absolute;
  padding: 4px;
  margin: 1px;
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  border: none;
  display: inline;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

table.sortable th button span {
  position: absolute;
  right: 4px;
}

table.sortable th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}

table.sortable td.num {
  text-align: right;
}

table.sortable tbody tr:nth-child(odd) {
  background-color: #f7f9fa;
}

/* Focus and hover styling */
table.sortable th button:focus,
table.sortable th button:hover {
  padding: 2px;
  border: 2px solid currentcolor;
  background-color: #B4B4FF8F;
}

table.sortable th button:focus span,
table.sortable th button:hover span {
  right: 2px;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}


/* Footer */
footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}