body {
  margin: 0;
  padding: 0;
  font-family: roboto, verdana, sans-serif;
  font-size: 16px;
}

/* Header */
header {
  background-color: #fcfcfc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo,
#second-logo {
  width: 120px;
  height: auto;
}

/* Main */
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Search Container */
#search-container {
  position: sticky;
  top: 0;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 2px 30px;
}

#search-box {
  position: sticky;
  top: 0;
  width: 35%;
  margin-left: 30px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f8f8f8;
  resize: both;
  height: auto;
}

/* Column */
.column {
  width: 30%;
  padding: 10px;
}

.column img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.column img:hover {
  transform: scale(1.05);
  transition: transform 0.7s ease-in-out;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

/* Accessibility */
.sr-only {
  position: absolute;
  top: -30em;
}

/* Table Sorting */
table.sortable td,
table.sortable th {
  padding: 2em 0.8em;
  width: 20em;
}

table.sortable th {
  font-weight: bold;
  border-bottom: thin solid #888;
  position: relative;
}

table.sortable th.no-sort {
  padding-top: 0.35em;
}

table.sortable th:nth-child(5) {
  width: 10em;
}

table.sortable th button {
  position: absolute;
  padding: 4px;
  margin: 1px;
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  border: none;
  display: inline;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

table.sortable th button span {
  position: absolute;
  right: 4px;
}

table.sortable th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}

table.sortable td.num {
  text-align: right;
}

table.sortable tbody tr:nth-child(odd) {
  background-color: #f7f9fa;
}

/* Focus and hover styling */
table.sortable th button:focus,
table.sortable th button:hover {
  padding: 2px;
  border: 2px solid currentcolor;
  background-color: #5757ff;
}

table.sortable th button:focus span,
table.sortable th button:hover span {
  right: 2px;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}
