<!DOCTYPE html>
<html>
<head>
    <title>ASCII Art Display</title>
    <style>
        html, body {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        pre {
            white-space: pre-wrap;
            font-family: monospace;
        }
    </style>
</head>
<body>
    <pre id="ascii-art">  
                        _    _
                       (_)  / )
                        \| (_/
                        _+/   
                       //|\
       o O       o O  // | ) o O       o O
     o | | O   o | | (/  |/  | | O   o | | O
   O | | | | O | | |       | | | O | | | | O
  O-oO | | o   O | |       | | o   O | | oO-o
 O---o O o       O o        O o       O o O---o
O-----O                                 O-----o
o-----O                                 o-----O
 o---O                                   o---O
  o-O                                     o-O
   O            UNEXPECTED ERROR           O
  O-o           PLEASE TRY AGAIN          O-O
 O---o                                   O---o
O-----o                                 O-----o
o-----O                                 o-----O
 o---O o O       o O       o O       o O o---O
  o-Oo | | O   o | | O   o | | O   o | | Oo-O
   O | | | | O | | | | O | | | | O | | | | O
     O | | o   O | | o   O | | o   O | | o
       O o       O o       O o       O o

    </pre>
</body>
</html>
