<!DOCTYPE html>
<html lang="en">
<head>
  <title >Contact</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/wiki.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" >
  <style>
    .grid-container object {
      max-width: 100%;
      max-height: 100%;
    }
    .grid-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      max-height: 100%;
    }
  </style>
</head>
<body>
  <!-- Logo -->
  <header>
      <!-- logo -->
    <a href="http://caspedia.org/" class="top-logo">
      <img id="logo" src="{{url_for('static', filename='img/ph_logo.svg')}}" alt="IGI logo">
    </a>
    <!-- second logo -->
    <a href="https://innovativegenomics.org/" target="_blank" class="top-logo">
      <img id="second-logo" src="{{url_for('static', filename='img/ph_logo_igi.png')}}" alt="Second logo">
    </a>
  </header>

  <!-- Search Box -->
  <br>
  <div id="search-container">
    <form action='{{ url_for("gfg")}}' method="POST">
      <label for="search-box"></label><textarea id="search-box" name="search-box" rows="1" cols="50" placeholder="input sequence or term"></textarea>
      <input type="submit" value="Submit" name="seq-input">
    </form>
  </div>

  <!-- Page Title -->
  <div style="background-color: #202123;">
    <h1><span style="color:#FFFFFF">Contact</span></h1>
  </div>

  <!-- Contents -->
  <div class="grid-container">
    <div class="section">
      <br>
      <h2 class="section-header"> Have questions or want to contribute to CasPEDIA?</h2>
      <h3>Please follow the directions below to ensure your request is processed as efficiently as possible. Additional information is available in the FAQ section.</h3>
      <br>
      <h2 class="section-header">BECOME A CURATOR</h2>
      <p>CasPEDIA is a community resource and your participation is welcome. Anyone can contribute to the database. If you would like to become a curator (i.e. create and edit wiki content), send a message to caspedia.contact&#64;gmail;com with the subject header "Request to Become General Curator" and a small summary of your research and/or CRISPR experience. Our team will follow up with next steps on how to formalize the process.</p>
      <h2 class="section-header">REQUEST A NEW ENTRY</h2>
      <p>If you would like to suggest a new CasPEDIA entry, contact caspedia.contact&#64;gmail;com with the subject line "Request for new CasPEDIA Entry: [New Entry Name]." Novel cas nucleases will be considered for the wiki, if the enzyme's function is described in 1 or more peer-reviewed publications and there is sufficient information to complete the webpage. We are also happy to work with CRISPR pioneers with papers under submission/revision and are willing to contribute to the curation process themselves. If you are unable to curate content for the entry you suggest, please identify a minimum of 5 scientist who'd be able to assist with the entry. The CasPEDIA Consortium will review all potential wiki content to maintain the database's curation standards.</p>
      <h2 class="section-header">REQUEST EDITS</h2>
      <p>If you are interested in updating a preexisting entry, contact caspedia.contact&#64;gmail;com with the subject line "Request for to update <i>Entry Name</i> Wiki." Please describe the reason for the update and any citations from literature that are relevant. Our team will review your message and reach out with details regarding next steps or the results of the update. If you find an error in an entry, please include a description, citation supporting your requested amendment and relevant screenshots of the issue.</p>
      <h2 class="section-header">EXTENDED DATA REQUESTS</h2>
      <p>A complete inventory of all entries is <a href="http://caspedia.org/background_data/caspedia_entry_list.csv">provided</a>. If additional data is required, please contact caspedia.contact&#64;gmail;com.</p>
    </div>
  </div>
</body>
</html>
