<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
  <meta charset="UTF-8">
  <title>Tool Finder</title>
</head>
<body>
  <header>
    <!-- logo -->
    <a href="index.html">
      <img id="logo" src="{{url_for('static', filename='img/ph_logo.png')}}" alt="IGI logo">
    </a>
    <!-- second logo -->
    <a href="https://innovativegenomics.org/" target="_blank">
      <img id="second-logo" src="{{url_for('static', filename='img/ph_logo_igi.png')}}" alt="Second logo">
    </a>
  </header>

  <!-- Tool Finder -->
  <section id="tool-finder-questions">
    <form action="/tool_finder" method="POST">
      <div id="target_type" class="tool-finder-header">
        <h3>Cis Activity</h3>
        <select name="target_type" class="tool-finder-header">
          {{ targe_type|safe }}
        </select>
      </div>
      <div id="trans_activity" class="tool-finder-header">
        <h3>Trans Activity</h3>
        <select name="trans_activity" class="tool-finder-menu">
          {{ trans_activity|safe }}
        </select>
      </div>
      <div id="targeting_requirement" class="tool-finder-header">
        <h3>Targeting Requirement</h3>
        <select name="targeting_requirement" class="tool-finder-menu">
          {{ targeting_requirement|safe }}
        </select>
      </div>
      <div id="multiplex" class="tool-finder-header">
        <h3>gRNA Design and Multiplexability</h3>
        <select name="multiplex" class="tool-finder-menu">
          {{ multiplex|safe }}
        </select>
      </div>
      <button type="submit">Search!</button>
    </form>
  </section>

  <!-- footnote -->
  <footer>
    <p>
      <a class="footer-link" href="https://doudnalab.org/" target="_blank">Doudna Lab</a>
      - Innovative Genomics Institute - Berkeley, California
    </p>
  </footer>
</body>
</html>
