  {% extends "layout.html" %}

  {% block content %}

  <!-- Tool Finder -->
  <section id="tool-finder-questions">
    <form action="/tool_finder" method="POST">
      <div id="target_type" class="tool-finder-header">
        <h3>Cis activity</h3>
        <select name="target_type" class="tool-finder-header">
          {{ targe_type|safe }}
        </select>
      </div>
      <div id="trans_activity" class="tool-finder-header">
        <h3>Trans activity</h3>
        <select name="trans_activity" class="tool-finder-menu">
          {{ trans_activity|safe }}
        </select>
      </div>
      <div id="targeting_requirement" class="tool-finder-header">
        <h3>Targeting requirement</h3>
        <select name="targeting_requirement" class="tool-finder-menu">
          {{ targeting_requirement|safe }}
        </select>
      </div>
      <div id="multiplex" class="tool-finder-header">
        <h3>Multiplexability</h3>
        <select name="multiplex" class="tool-finder-menu">
          {{ multiplex|safe }}
        </select>
      </div>
      <button type="submit">Search!</button>
    </form>
    <!-- Download Option -->
  <div class="abstract">
	  <h2>Complete list of CasPEDIA entries</h2>
      <p>Download the complete inventory of CasPEDIA enzymes below for extended property searches.</p>
  </div>
    <form action="{{ url_for('download_csv') }}" method="get">
      <button type="submit">Download</button>
    </form>
  </section>

  {% endblock %}
