{% extends "alt_layout.html" %}

{% block content %}

<!-- Page Title -->
<div class="wiki-title-box">
    <h1><span style="color:#FFFFFF">{{ page_name|safe }}</span></h1>

    <!-- Essential Info -->
    <div class="wiki-row-padding wiki-center wiki-margin-top" >
        <div class="wiki-top-left" >
            <div class="wiki-card wiki-container" style="background-color: #f5f5f5;min-height:570px; padding: 0">
                <h2>Cas ID </h2>
                <div class="cas_id_container">
                    {{ classification_sprites|safe }}
                </div>
            </div>
        </div>
        <div class="wiki-top-right">
            <div class="wiki-card wiki-container" style="background-color: #f5f5f5;min-height:570px; padding: 0">
                <h2>RESOURCES</h2>
                <ul class="wiki-ul">
                    {{ resources|safe }}
                    {{ sequences|safe }}
                </ul>
            </div>
        </div>
        <div class="wiki-bottom-left" >
            <div class="wiki-card wiki-container" style="background-color: #f5f5f5; min-height: 300px; padding: 0">
                <h2>CLASSIFICATION</h2>
                <ul class="wiki-ul">
                    {{ classification|safe }}
                </ul>
            </div>
        </div>
        <div class="wiki-bottom-right">
            <div class="wiki-card wiki-container" style="background-color: #f5f5f5; min-height: 300px; padding: 0">
                <h2>PROPERTIES</h2>
                <ul class="wiki-ul">
                    {{ properties|safe }}
                </ul>
            </div>
        </div>

    </div>
    <br><br>
</div>
<!-- Description -->
<br>
<h2 class="section_header" style="text-align:center;font-weight:bold">DESCRIPTION</h2>
<div class="grid-container">
    <div class="section">
        {{ text_summaries|safe }}

        <br>
        <button onclick="myAccFunc('Delivery')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Experimental Details</span></button>
        <div id="Delivery" class="wiki-hide wiki-black">
            <div class="wiki-container">
                {{ exp_details|safe }}
            </div>
        </div>
        <hr>

        <button onclick="myAccFunc('GeneEditing')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Gene Editing&nbsp;</span></button>
        <div id="GeneEditing" class="wiki-hide">
            <div class="wiki-container">
                {{ gene_editing_human|safe }}
                {{ gene_editing|safe }}
            </div>
        </div>
        <hr>

        <button onclick="myAccFunc('Tools')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Tools and Diagnostics</span></button>
        <div id="Tools" class="wiki-hide">
            <div class="wiki-container">
                <!-- OBS: Some headers from the static SpyCas9a model wiki do not match the terms found in the workbook  -->
                <!-- e.g. "Diagnostic Testing" in the model page translates to "Diagnostic" in the workbook  -->
                {{ tools|safe }}
            </div>
        </div>
        <hr>

        <button onclick="myAccFunc('Variants')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Engineered Variants</span></button>
        <div id="Variants" class="wiki-hide wiki-black">
            <div class="wiki-container">
                {{ variants|safe }}
            </div>
        </div>
        <hr>

        <button onclick="myAccFunc('Orthologs')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Orthologs</span></button>
        <div id="Orthologs" class="wiki-hide wiki-black">
            <div class="wiki-container">
                {{ orthologs|safe }}
            </div>
        </div>

    </div>
</div>

<!-- Sequence -->
<br>
<h2 class="section_header" style="text-align:center;font-weight:bold">NUCLEOTIDE SEQUENCE</h2>
<div id="container" style="padding-top: 1px;padding-bottom: 10px; height: auto"></div>
{{ sequence_browser|safe }}


<!-- PDB Structure -->
<br>
<h2 class="section_header" style="text-align:center;font-weight:bold">PROTEIN STRUCTURE</h2>
<div class="grid-container">
    <div class="section">

        <button onclick="myAccFunc('PFAM')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">PFAM Annotation</span></button>
        <div id="PFAM" class="wiki-hide wiki-black">
            <div class="wiki-container">
                {{ pfam|safe }}
            </div>
        </div>
        <hr>

        <button onclick="myAccFunc('Domains')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Features</span></button>
        <div id="Domains" class="wiki-hide wiki-black">
            <div class="wiki-container">
                {{ domains|safe }}
            </div>
        </div>
        <hr>

        <button onclick="myAccFunc('Active_Site')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Active Site</span></button>
        <div id="Active_Site" class="wiki-hide wiki-black">
            <div class="wiki-container">
                {{ active_site|safe }}
            </div>
        </div>
        <hr>

        <button onclick="myAccFunc('Protein_Structure')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#5A5A5A;font-weight:bold;font-size:18px;">Protein Structure</span></button>
        <div id="Protein_Structure" class="wiki-hide wiki-black">
            <div class="wiki-container">
                <script src="https://3Dmol.org/build/3Dmol-min.js"></script>
                <script src="https://3Dmol.org/build/3Dmol.ui-min.js"></script>
                {{ structure|safe }}
            </div>
        </div>
    </div>
</div>

<br>
<div class="grid-container">
    <div class="section">
        <button onclick="myAccFunc('Cite')" class="wiki-padding-16 wiki-theme wiki-button wiki-block wiki-left-align"><span style="color:#000000;font-weight:bold;font-size:24px;">REFERENCES</span></button>
        <div id="Cite" class="wiki-hide wiki-black">
            {{ references|safe }}
        </div>
    </div>
</div>

<br><br>

<!-- Scripts -->
<!-- Script for Accordions-->
<script>

    var mybtn = document.getElementsByClassName("testbtn")[0];
    mybtn.click();

    // Accordions
    function myAccFunc(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("wiki-show") == -1) {
            x.className += " wiki-show";
        } else {
            x.className = x.className.replace(" wiki-show", "");
        }
    }

    // Slideshows
    var slideIndex = 1;

    function plusDivs(n) {
        slideIndex = slideIndex + n;
        showDivs(slideIndex);
    }

    function showDivs(n) {
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }

    showDivs(1);

</script>

{% endblock %}
